@charset "utf-8";
/* CSS Document */
@import url("reset.css"); /* ※RESET CSSのインポート */

/* ===============================================
 index
================================================== */
body {
	margin: 0;
	padding: 0; /* for Opera8 */
	background: #fff;
	color: #333333; /* ※サイトにより変更 */
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
		"ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; /* ※サイトにより変更　基本は12px */
	line-height: 1.6; /* ※サイトにより変更　基本は1.6 */
	-webkit-text-size-adjust: 100%;
}

::selection {
	background: #F8CBD0;
	color: #fff;
}

::-moz-selection {
	background: #F8CBD0;
	color: #fff;
}

h1 {
	font-size: 143%; /* ※サイトにより変更　例：143%（20px） */
}

h2 {
	font-size: 129%; /* ※サイトにより変更　例：129%（18px） */
}

h3 {
	font-size: 115%; /* ※サイトにより変更　例：115%（16px） */
}

html {
	overflow-y: scroll;
} /* サイドのスクロールバーを常に表示 */
img {
	vertical-align: top;
	max-width: 100%;
	height: auto !important;
}

a:link {
	color: #666666;
	text-decoration: none;
}

a:visited {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #999999;
	text-decoration: none;
}

a:hover img {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.60;
	opacity: 0.60;
}

.cf:after {
	content: "."; /* 新しい要素を作る */
	display: block; /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}

.cf {
	min-height: 1px;
	position: relative
}

* html .cf {
	height: 1px; /*¥*/ /*/
  height: auto;
  overflow: hidden;
  /**/
}

.dinplay-none-for-sp {
	display: none !important;
}
/*	================================================== 
wrapper
================================================== */
div#wrapper {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

/*	================================================== 
header
================================================== */

.header{
	margin-bottom:120px;
}

.head_p section {
	display: none;
}

.head_p article {
	background: #F9C;
	font-size: 10px;
	line-height: 30px;
	height: 30px;
	color: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

/* .head_p article div.contents {
	width: 100%;
	margin: 0 auto;
} */
.head_p article div.contents h1 {
	display: none;
}

.head_p article div.contents aside {
	float: none;
	text-align: left;
	font-size: 10px;
	padding-left: 6px;
}

.head_p article div.contents aside span {
	border: 1px solid #fff;
	margin-right: 4px;
	padding: 2px 4px 2px 4px;
	text-align: center;
}

.head_p article div.contents aside .tel_icon {
	display: inline-block !important;
	width: 22px;
	vertical-align: top;
	padding-top: 4px;
	float: right;
	padding-right: 6px;
}

.head_p article div.contents aside .tel_icon img.tel_icon_img {
	display: inline-block !important;
	width: 22px;
	vertical-align: top;
}

.head_p article div.contents aside img {
	display: none;
}

.head_p article div.contents aside em {
	display: none;
}

.head_sp {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9998;
	background: #fff;
}

.head_sp figure {
	text-align: center;
	padding: 15px 0;
}

.head_sp figure:before {
	content: ".";
	color: transparent;
}

.head_sp figure img {
	width: 65px;
}

.head_sp a.menu {
	position: absolute;
	left: 15px;
	top: 15px;
	width: 28px;
	height: 28px;
	display: block;
}

.head_sp a.menu img {
	width: 28px;
}

.head_sp a.tel {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 32px;
	height: 32px;
	display: block;
}

.head_sp a.tel img {
	width: 32px;
}

/* ==================================================
top
 ================================================== */
#top {
	
}

#top .block-01 p.lead {
	text-align: center;
}

#top .block-01 div {
	text-align: left;
	margin-top: 20px;
}

#top .block-01 .top-panel {
	text-align: center;
}

#top .block-01 .top-panel li {
	margin-top: 10px;
}

#top .block-01 div dl {
	margin-bottom: 10px;
}

#top .block-01 div dl:first-child {
	padding-left: 0px;
}

#top .block-01 div dl:last-child {
	padding-right: 0px;
}

#top .block-01 div dl dt {
	
}

#top .block-01 div dl dt img {
	width: 100%;
}

#top .block-01 div dl dd {
	
}

#top .block-01 div dl dd h4 {
	margin-top: 6px;
	position: relative;
	font-weight: bold;
	font-size: 18px;
}

#top .block-01 div dl dd h4 img {
	position: absolute;
	bottom: 6px;
	margin-left: 6px;
	width: 15px;
}

#top .block-01 div dl dd p.cap {
	font-size: 13px;
	margin-top: 0;
}

#top .block-01 a.more {
	display: block;
	background: #fff;
	border: 2px solid #F9C;
	color: #F9C;
	vertical-align: middle;
	font-size: 14px;
	padding: 8px 8px;
	margin: 15px 40px 0 40px;
	text-align: center;
	border-radius: 6px;
	-webkit-border-radius: 6px;
}

#top .block-01 a.more:hover {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.60;
	opacity: 0.60;
}

#top .block-01 a.more span {
	-moz-transform: rotate(90deg) scale(0.7);
	-webkit-transform: rotate(90deg) scale(0.7);
	display: inline-block;
	font-size: 9px;
	vertical-align: middle;
	margin-left: 4px;
}

#top .bnBox {
	position: relative;
	text-align: center;
	margin: 0 auto 30px auto;
}

#top .bnBox .s_none {
	display: none;
}

#top .bnBox .p_none img {
	width: 100%;
}

#top .block-04 {
	position: relative;
	margin: 0 5px 30px 5px;
}

#top .block-04 h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 28px;
	padding-bottom: 0px;
	text-align: center;
}

#top .block-04 h2 span {
	font-size: 90%;
}

#top .block-04 .left {
	
}

#top .block-04 .right {
	
}

#top .block-04 .block {
	position: relative;
	margin-bottom: 30px;
}

#top .block-04 .block dl {
	width: 100%;
	font-size: 11px;
	display: table;
	border-bottom: 1px dotted #bbbbbb;
	padding: 7px 0;
	margin-bottom: 4px;
}

#top .block-04 .block dl dt {
	width: 35%;
	display: table-cell;
}

#top .block-04 .block dl dd {
	display: table-cell;
}

#top .block-04 a.more {
	display: block;
	background: #fff;
	border: 2px solid #F9C;
	color: #F9C;
	vertical-align: middle;
	font-size: 14px;
	padding: 8px 8px;
	margin: 15px 40px 0 40px;
	text-align: center;
	border-radius: 6px;
	-webkit-border-radius: 6px;
}

#top .block-04 a.more span {
	-moz-transform: rotate(90deg) scale(0.7);
	-webkit-transform: rotate(90deg) scale(0.7);
	display: inline-block;
	font-size: 9px;
	vertical-align: middle;
	margin-left: 4px;
}

/*  ==================================================
slider
================================================== */
.slider {
	margin-top:100px;
	
}

/*	==================================================
footer
================================================== */
footer {
	width: 100%;
	background: #fff;
	border-top: 1px solid #CCCCCC;
	padding-top: 20px;
	padding-bottom: 30px;
}

footer section {
	position: relative;
}

footer section article.summary figure.snsShare {
	margin: 0 50px 15px 50px;
}

footer section article.summary figure.snsShare img {
	width: 100%;
}

footer section article.summary figure.Logo {
	width: 237.5px;
	margin: 0 auto 10px auto;
	text-align: center;
}

footer section article.summary figure.Logo img {
	width: 237.5px;
}

footer section article.summary nav {
	display: none;
}

footer section article.summary div {
	display: none;
}

footer section p.copyright {
	font-size: 11px;
	padding: 8px 0 8px 0;
	text-align: center;
}

.top_bnr_left {
	margin-bottom: 10px;
}
/*footerの追従info*/
.pc-none-sp-block {
	display: none;
}

.footerPop {
	display: table !important;
	padding: 5px;
	box-sizing: border-box;
	z-index: 9999;
	background: #fff;
	border: none;
	width: 100%;
}

.footerInfoTellWrap {
	height: 40px;
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	border-radius: 3px;
	text-align: center;
	color: #FFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#F9C+0,e7861a+99 */
	background: #F9C; /* Old browsers */
	background: -moz-linear-gradient(top, #F9C 0%, #F6C 99%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #F9C 0%, #F6C 99%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #F9C 0%, #F6C 99%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9C',
		endColorstr='#e7861a', GradientType=0); /* IE6-9 */
}

.blank_area {
	width: 10px;
}

.footerInfoTellWrap div {
	color: #fff;
}

.footerInfoTellWrap .footerPopTxt {
	margin-bottom: 0;
}

.footerInfoTellWrap .footerInfoTell div {
	text-decoration: none;
	font-size: 11px;
	display: block;
	text-align: center;
	line-height: 1;
	padding-left: 13px;
	font-weight: bold;
	margin: 0 auto;
	color: #fff;
}

.footerInfoTellWrap .footerInfoTell div:before {
	content: "";
	background-size: 9px;
	position: absolute;
	width: 14px;
	height: 20px;
	margin-left: -15px;
	margin-top: -2px;
	display: inline-block;
}

.footerInfoTell a {
	padding: 5px 5px;
	line-height: 1;
	display: block;
	text-decoration: none;
}

.footerInfoTell div a {
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
}

.footer-recruit-tel {
	margin-left: 5px;
	border: 2px solid #F9C;
	background: #fff;
	border-radius: 3px;
	color: #F9C;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.footer-recruit-tel div {
	width: 100%;
	box-sizing: border-box;
	line-height: 1;
	text-align: center;
}

.footer-recruit-tel div a {
	display: block;
	color: #F9C;
	text-decoration: none;
	padding: 5px 1px;
	font-weight: bold;
	font-size: 1.5em;
}

.footer-recruit-tel p {
	font-size: 9px;
	margin-bottom: 5px;
}

.footerPopTxt, .footerPopTxt span {
	font-size: 9px !important;
	font-weight: normal !important;
	color: #fff;
}

.footerPop .footerPopTxt {
	background: none;
	box-sizing: border-box;
	color: #fff;
	font-size: 8px;
	line-height: 1;
	padding-bottom: 5px;
	padding-top: 2px;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.head_p article {
	height: auto;
	background: #e8e6e3;
}

.head_p article div.contents aside {
	display: none;
}