@charset "utf-8";
/* CSS Document */
@import url("reset.css"); /* ※RESET CSSのインポート */

/*  =================================================
index
================================================== */
body {
	font-family: 'Josefin Sans', sans-serif;
}

html {
	overflow-y: scroll;
}

h1 {
	font-size: 143%;
}

h2 {
	font-size: 129%;
}

h3 {
	font-size: 115%;
}

img {
	vertical-align: top;
}

.display-none-for-pc {
	display: none !important;
}

a:link {
	color: #666666;
	text-decoration: none;
}

a:visited {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #999999;
	text-decoration: none;
}

a:hover img {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.60;
	opacity: 0.60;
}

/*  =================================================
clearfix
================================================== */
.cf:after {
	content: "."; /* �V�����v�f���� */
	display: block; /* �u���b�N���x���v�f�� */
	clear: both;
	height: 0;
	visibility: hidden;
}

.cf {
	min-height: 1px;
	position: relative
}

* html .cf {
	height: 1px;
	/*?*/ /*/
  height: auto;
  overflow: hidden;
  /**/
}

/*  =================================================
main
================================================== */
main {
	display: block;
}

/*  ==================================================
wrapper
================================================== */
div#wrapper {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

/*  ==================================================
head_sp
================================================== */
/*
.head_sp{
    display:none;
}
*/
.head_p {
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9998;
}

.head_p article {
	background: #000000;
	font-size: 12px;
	color: #fff;
}

.head_p article div.contents {
	width: 960px;
	margin: 0 auto;
}

.head_p article div.contents h1 {
	font-size: 12px;
	font-weight: normal;
	display: block;
	float: left;
	text-align: left;
	width: 340px;
	line-height: 50px;
}

.head_p article div.contents aside {
	float: right;
	width: 620px;
	text-align: right;
	line-height: 50px;
}

.head_p article div.contents aside span {
	border: 1px solid #fff;
	margin-right: 8px;
	padding: 2px 4px;
}

.head_p article div.contents aside .tel_icon {
	display: none !important;
}

.head_p article div.contents aside .tel_icon img.tel_icon_img {
	display: none !important;
}

.head_p article div.contents aside img {
	padding: 0 6px 0 10px;
}

.head_p article div.contents aside em {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}

.head_p section {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.head_p section figure {
	position: absolute;
	left: 0;
	top: 16px;
}

.head_p section figure img {
	width: 121px;
}

.head_p section nav {
	position: absolute;
	/*right:0; top:36px;*/
	height: 33px;
}

.head_p section nav ul {
	display: table;
}

.head_p section nav ul li {
	display: table-cell;
	vertical-align: bottom;
}

.head_p section nav ul li img {
	vertical-align: bottom;
}

.head_p section nav ul li {
	
}

.head_p section nav ul li.nav {
	padding-left: 20px;
}

.head_p section nav ul li.fb {
	padding-left: 12px;
}

.head_p section nav ul li.b {
	padding-left: 6px;
}

.head_p section nav ul li.tel {
	padding-left: 12px;
}

.head_p img {
	float: left;
}
/* ==================================================
slider
 ================================================== */
.slider {
    margin: 50px 5% 10px !important;
}
/*  =================================================
top (blog)
================================================== */

#top{
    padding-top:60px;
    padding-bottom:0;
}


#top .block-01{
    position:relative;
    width:960px;
    margin:0 auto 35px auto;
}
#top .block-01 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size:42px;
    padding-bottom:12px;
    text-align:center;
}
#top .block-01 h2 span{
    font-size:90%;
}
#top .block-01 h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size:26px;
    color:#EE811D;
    padding-bottom:4px;
    text-align:center;
}
#top .block-01 p.lead{
    text-align:center;
}
#top .block-01 div{
    display:table;
    text-align:left;
    width:960px;
    margin-top:20px;
}
#top .block-01 div dl{
    display:table-cell;
    width:300px;
    padding-right:30px;
}
#top .block-01 div dl:first-child{
    padding-left:0px;
}
#top .block-01 div dl:last-child{
    padding-right:0px;
}
#top .block-01 div dl dt{
}
#top .block-01 div dl dd{
    width:300px;
}

#top .block-01 div dl dd h4{
    margin-top:16px;
    position:relative;
    font-weight:bold;
    font-size:18px;
}
#top .block-01 div dl dd h4 img{
    position:absolute;
    bottom:4px;
    margin-left:6px;
}
#top .block-01 div dl dd p.cap{
    font-size:13px;
    margin-top:5px;
}

#top .block-01 a.more{
    display:inline-block;
    background:#F9C;
    color:#fff;
    vertical-align:middle;
    font-size:11px;
    padding:2px 8px;
    position:absolute;
    right:0; top:40px;
}
#top .block-01 a.more:hover{
    filter: alpha(opacity=60);
    -moz-opacity:0.60;
    opacity:0.60;
}
#top .block-01 a.more span{
    -moz-transform: rotate(90deg) scale(0.7);
    -webkit-transform: rotate(90deg) scale(0.7);
    display:inline-block;
    font-size:8px;
    vertical-align:top;
    margin-left:4px;
}

#top .bnBox{
    position:relative;
    text-align:center;
    width:960px;
    margin:0 auto 80px auto;
}
#top .bnBox .p_none{
    display:none;
}


#top .block-02{
    position:relative;
    width:960px;
    margin:0 auto 70px auto;
}
#top .block-02 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size:32px;
    padding-bottom:12px;
}
#top .block-02 h2 span{
    font-size:90%;
}

#top .block-02 .left{
    float:left;
    width:460px;
    padding:20px 0;
    border-bottom:1px dotted #bbbbbb;
    border-top:1px dotted #bbbbbb;
}
#top .block-02 .right{
    float:right;
    width:460px;
    padding:20px 0;
    border-bottom:1px dotted #bbbbbb;
    border-top:1px dotted #bbbbbb;
}

#top .block-02 div figure{
    width:230px;
    float:left;
}
#top .block-02 div dl{
    float:right;
    width:200px;
    margin-right:10px;
}
#top .block-02 div dl dt{
    font-family: 'Josefin Sans', sans-serif;
    font-size:26px;
    margin-bottom:6px;
}
#top .block-02 div dl dt span{
    font-size:90%;
}
#top .block-02 div dl dd{
    font-size:13px;
}
#top .block-02 div dl dd a{
    display:inline-block;
    float:right;
    margin-top:15px;
    background:url(../img/arrow.jpg) no-repeat left center;
    padding-left:20px;
}
#top .block-02 div dl dd a:hover{
    filter: alpha(opacity=60);
    -moz-opacity:0.60;
    opacity:0.60;
}


#top .block-03{
    position:relative;
    width:100%;
    margin:0 auto 60px auto;
}
#top .block-03 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size:32px;
    padding-bottom:12px;
    width:960px;
    margin:0 auto;
}
#top .block-03 h2 span{
    font-size:90%;
}
#top .block-03 .sliderBox{
    width:100%;
    overflow:hidden !important;
    height:246px !important;
}
#top .block-03 .sliderBox ul{
    margin:0;
    padding:0;
    overflow:hidden !important;
    height:246px !important;
}
#top .block-03 .sliderBox ul li{
    width:372px !important;
    margin:0;
    padding:0;
    overflow:hidden !important;
    height:246px !important;
}
#top .block-03 .sliderBox ul li img{
    overflow:hidden !important;
    height:246px !important;
}



#top .block-04{
    position:relative;
    width:960px;
    margin:0 auto 60px auto;
}
#top .block-04 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size:32px;
    padding-bottom:8px;
}
#top .block-04 h2 span{
    font-size:90%;
}
#top .block-04 .left{
    width:450px;
    float:left;
}
#top .block-04 .right{
    width:450px;
    float:right;
}
#top .block-04 .block{
    position:relative;
    margin-bottom:26px;
}
#top .block-04 .block dl{
    width:450px;
    font-size:13px;
    display:table;
    border-bottom:1px dotted #bbbbbb;
    padding:7px 0;
    margin-bottom:4px;
}
#top .block-04 .block dl dt{
    width:127px;
    display:table-cell;
}
#top .block-04 .block dl dd{
    display:table-cell;
    width:323px;
}
#top .block-04 a.more{
    display:inline-block;
    background:#F9C;
    color:#fff;
    vertical-align:middle;
    font-size:11px;
    padding:2px 8px;
    position:absolute;
    right:0; top:20px;
}
#top .block-04 a.more:hover{
    filter: alpha(opacity=60);
    -moz-opacity:0.60;
    opacity:0.60;
}
#top .block-04 a.more span{
    -moz-transform: rotate(90deg) scale(0.7);
    -webkit-transform: rotate(90deg) scale(0.7);
    display:inline-block;
    font-size:8px;
    vertical-align:top;
    margin-left:4px;
}






/*  =================================================
top-panel
================================================== */
.top-panel {
	display: table;
	text-align: left;
	width: 960px;
	margin-top: 20px;
}

.top-panel li {
	display: table-cell;
	width: 300px;
	padding-right: 30px;
}

.top_bnr_area {
	width: 960px;
	margin: 0 auto;
}

.top_bnr_left {
	width: 475px;
	float: left;
	margin-right: 10px;
}

.top_bnr_left img {
	width: 475px;
}

.top_bnr_right {
	width: 475px;
	float: left;
}

.top_bnr_right img {
	width: 475px;
}

/* ==================================================
footer
===================================================== */
footer {
	width: 100%;
	background: #fff;
	border-top: 1px solid #CCCCCC;
}

footer {
	
}

footer section {
	position: relative;
}

footer section article.summary {
	text-align: center;
	padding: 10px 0 0 0;
	display: block;
}

footer section article.summary figure.snsShare {
	display: none !important;
}

footer section article.summary figure.Logo {
	width: 475px;
	margin: 0 auto 50px auto;
	text-align: center;
}

footer section article.summary nav {
	margin-bottom: 10px;
}

footer section article.summary nav ul {
	text-align: center;
}

footer section article.summary nav ul li {
	display: inline;
	margin: 0 10px;
	vertical-align: bottom;
}

footer section article.summary nav ul li:first-child {
	margin-left: 0;
}

footer section article.summary nav ul li:last-child {
	margin-right: 0;
}

footer section article.summary div {
	width: 100%;
	height: 47px;
	background: #000000;
	font-size: 12px;
}

footer section article.summary div aside {
	line-height: 47px;
	text-align: center;
}

footer section article.summary div aside img {
	margin-right: 8px;
}

footer section article.summary div aside em {
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	vertical-align: middle;
	margin-right: 20px;
}

footer section article.summary div aside span {
	color: #fff;
	margin-right: 12px;
	padding: 2px 4px;
	font-size: 16px;
}

footer section p.copyright {
	font-size: 11px;
	padding: 10px 0 10px 0;
	text-align: center;
}