@charset "utf-8";
/* CSS Document */
@import url("reset.css"); /* ※RESET CSSのインポート */

.header {
	width: 100%;
	border: 5px white;
}

.header-left {
	background-color: blue;
	width: 40%;
	float: left;
}

.header-right {
	background-color: red;
	width: 60%;
	margin-left:40%;
	
}

