#menu {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#menu li {
	display: block;
	float: left;
	width: 12.5%;
	margin: 0;
	padding: 0;
}

#menu li a {
	display: block;
	padding: 12px 0 10px;
	   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#F9C+0,e7861a+99 */
    background: #F9C; /* Old browsers */
    background: -moz-linear-gradient(top, #F9C 0%, #F6C 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F9C 0%, #F6C 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F9C 0%, #F6C 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9C',
        endColorstr='#e7861a', GradientType=0); /* IE6-9 */
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

#menu li a:hover {
	background: #F6C;
}

#toggle {
	display: none;
}

@media only screen and (max-width: 640px) {
	#menu li {
		width: 25%;
		border-bottom: 1px solid #F6C;
	}
}