#menu {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#menu li {
	display: block;
	float: left;
	width: 12.5%;
	margin: 0;
	padding: 0;
}

#menu li a {
	display: block;
	padding: 12px 0 10px;
	background: #F9C;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

#menu li a:hover {
	background: #F6C;
}

#toggle {
	display: none;
}

@media only screen and (max-width: 640px) {
	#menu li {
		width: 25%;
		border-bottom: 1px solid #F6C;
	}
}