@charset "utf-8";
/* CSS Document */

@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { 
	border:0;
}

body{
	background-color: transparent;
	scrollbar-face-color:#ffffff;
	scrollbar-track-color:#ffffff;
	scrollbar-arrow-color:#fe0783;
	scrollbar-3dlight-color:#fe0783;
	scrollbar-highlight-color:#ffffff;
	scrollbar-shadow-color:#fe0783;
	scrollbar-darkshadow-color:#ffffff;
	}

a:link {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	text-decoration: underline;
	color: #ffffff;
}
a:active {
	text-decoration: none;
	color: #ffffff;
}
	
.bt_box{
	width: 96%;
	height: 25px;
	float: left;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	font-size: 12px;
	font-weight: bold;
	padding-left: 6px;
	}

.bt_blank{
	width: 5px;
	height: 18px;
	float: left;
	font-size:0px;
	}

.bt1{
	width: 112px;
	height: 16px;
	float: left;
	color: #fff;
	background-color: #ff6699;
	text-align: center;
	border: 1px solid #f39;
	}

.bt2{
	width: 120px;
	height: 16px;
	float: left;
	color: #fff;
	background-color: #ff6699;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #f39;
	border-right-color: #f39;
	border-bottom-color: #f39;
	border-left-color: #f39;
	}
	
.bt3{
	width: 121px;
	height: 16px;
	float: left;
	color: #fff;
	background-color: #ff6699;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #f39;
	border-right-color: #f39;
	border-bottom-color: #f39;
	border-left-color: #f39;
	}

.bt4{
	width: 120px;
	height: 16px;
	float: left;
	color: #fff;
	background-color: #ff6699;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #f39;
	border-right-color: #f39;
	border-bottom-color: #f39;
	border-left-color: #f39;
	}

.bt5{
	width: 121px;
	height: 16px;
	float: left;
	color: #fff;
	background-color: #ff6699;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #f39;
	border-right-color: #f39;
	border-bottom-color: #f39;
	border-left-color: #f39;
	}

.bt6{
	width: 120px;
	height: 16px;
	float: left;
	color: #fff;
	background-color: #ff6699;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #f39;
	border-right-color: #f39;
	border-bottom-color: #f39;
	border-left-color: #f39;
	}

.bt7{
	width: 121px;
	height: 16px;
	float: left;
	color: #fff;
	background-color: #ff6699;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #f39;
	border-right-color: #f39;
	border-bottom-color: #f39;
	border-left-color: #f39;
	}


.girls_box{
	width: 299px;
	height: 193px;
	float: left;
	background-image: url(../images/girls_schedule_back.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 10px;
	}

.girls_box_left{
	width: 132px;
	height: 193px;
	float: left;
	}

.left_box1{
	width: 126px;
	height: 14px;
	float: left;
	padding-top: 0px;
	padding-left: 6px;
	}
	
.left_box1_1{
	width: 63px;
	height: 14px;
	float: left;
	}

.left_box1_2{
	width: auto;
	height: 14px;
	float: right;
	padding-right: 3px;
	}

.left_box2{
	width: 121px;
	height: 150px;
	float: left;
	padding-left: 8px;
	overflow:hidden;
	}

.left_box3{
	width: auto;
	height: 16px;
	float: right;
	padding-right: 3px;
	padding-top: 1px;
	}

.girls_box_right{
	width: 164px;
	height: 193px;
	float: left;
	}

.right_box1{
	width: 158px;
	height: 34px;
	float: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	color: #555555;
	padding-left: 4px;
	font-weight: bold;
	}

.right_box1_1{
	width: auto;
	height: 16px;
	float: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	color: #555555;
	font-weight: bold;
	padding-top: 18px;
	}

.right_box1_2{
	width: auto;
	height: 20px;
	float: right;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	color: #555555;
	padding-left: 4px;
	font-weight: bold;
	padding-top: 14px;
	padding-right: 60px;
	}

.right_box2{
	width: 158px;
	height: 17px;
	float: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 11px;
	color: #555555;
	padding-left: 4px;
	font-weight: bold;
	padding-top: 8px;
	}

.right_box3{
	width: 158x;
	height: 17px;
	float: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 10px;
	color: #555555;
	padding-left: 4px;
	font-weight: bold;
	padding-top: 8px;
	}

.right_box4{
	width: 158px;
	height: 17px;
	float: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 10px;
	padding-left: 4px;
	padding-top: 9px;
	}

.right_box5{
	width: 158px;
	height: 17px;
	float: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	color: #fa77b8;
	padding-left: 4px;
	padding-top: 9px;
	}


.right_box6{
	width: 137px;
	height: 17px;
	float: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 10px;
	padding-left: 4px;
	padding-top: 9px;
	overflow: hidden;
	color: #555555;
	text-align: center;
	}


.color_1{color: #fa77b8;}
