@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { 
	border:0;
}

h1{}

h2{zoom: 1;}

h3, h4, h5, h6, p, address, ul, li, div {zoom: 1;}

.clear{
	clear:both;
	visibility:hidden;
	display:none;
	border:0;
	}

div.tdftdiv{
	clear:both;
	}

body{
	background-image: url(../images/contents_back.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	scrollbar-face-color:#ffffff;
	scrollbar-track-color:#ffffff;
	scrollbar-arrow-color:#fe0783;
	scrollbar-3dlight-color:#fe0783;
	scrollbar-highlight-color:#ffffff;
	scrollbar-shadow-color:#fe0783;
	scrollbar-darkshadow-color:#ffffff;
	}
	
.contents{
	width: 830px;
	height: 950px;
	margin: 0 auto;
	background-image: url(../images/back_profile.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	}
	
.contents_left{
	width: 380px;
	height: 950px;
	float:left;
	padding-left: 29px;
	}

.contents_right{
	width: 420px;
	height: 950px;
	float:left;
	}

.profile{
	width: 250px;
	height: 50px;
	float:left;
	padding-left: 26px;
	}

.profile a{
	width: 250px;
	height: 50px;
	display: block;
	text-indent: -10000px;
	overflow: hidden;
	background-image: url(../images/profile.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	}
	
.left_box1{
	width: 374px;
	height: 448px;
	float:left;
	}
	
.big_img{
	width: 200px;
	height: 300px;
	float:left;
	padding-left: 37px;
	padding-top: 112px;
	}

.small_imges{
	width: 50px;
	height: 300px;
	float:left;
	padding-left: 61px;
	padding-top: 134px;
	}

.s_images_box{
	width: 50px;
	height: 75px;
	float:left;
	}

.left_box2{
	width: 324px;
	height: 30px;
	float:left;
	font-family: "�l�r �S�V�b�N", "MS Gothic", "Osaka�|����", Osaka-mono, monospace;
	font-size: 22px;
	font-weight: bolder;
	color: #ff0aa8;
	padding-left: 39px;
	padding-top: 24px;
	}

.left_box3{
	width: 324px;
	height: 25px;
	float: left;
	font-family: "�q���M�m�p�S Pro W3", "Hiragino Kaku Gothic Pro", "���C���I", Meiryo, Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
	font-size: 14px;
	color: #555555;
	padding-left: 39px;
	font-weight: bold;
	padding-top: 12px;
	}

.left_box4{
	width: 324px;
	height: 17px;
	float: left;
	font-family: "�q���M�m�p�S Pro W3", "Hiragino Kaku Gothic Pro", "���C���I", Meiryo, Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
	font-size: 10px;
	padding-left: 39px;
	padding-top: 12px;
	}

.left_box5{
	width: 328px;
	height: 175px;
	float: left;
	font-family: "�q���M�m�p�S Pro W3", "Hiragino Kaku Gothic Pro", "���C���I", Meiryo, Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
	font-size: 11px;
	padding-left: 38px;
	padding-top: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	}

.comment{
	width: 100px;
	height: 20px;
	float:left;
	padding-left: 34px;
	padding-top: 15px;
	}

.comment a{
	width: 100px;
	height: 20px;
	display: block;
	text-indent: -10000px;
	overflow: hidden;
	background-image: url(../images/comment.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	}

.color_1{
	color: #ff0aa8;
}

.logo_emperor{
	width: 255px;
	height: 190px;
	float:left;
	padding-left: 118px;
	}

.logo_emperor a{
	width: 255px;
	height: 190px;
	display: block;
	text-indent: -10000px;
	overflow: hidden;
	background-image: url(../images/logo_emperor.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	}

.right_box1{
	width: 315px;
	height: 620px;
	float:left;
	padding-left: 18px;
	padding-top: 7px;
	}

.syame{
	width: 250px;
	height: 50px;
	float: left;
	padding-left: 74px;
	}

.syame a{
	width: 200px;
	height: 50px;
	float:left;
	display: block;
	text-indent: -10000px;
	overflow: hidden;
	background-image: url(../images/syame.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	}